/* Temas del segundo período*/

.texto{
   
    font-size: 30px;
    padding-top: 40px;
    text-align: justify;
    color: rgb(40, 46, 40);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondo.png");
    

}
.imgT{
height: 300px;
width: 300px;
float: left;
background-image: url("imgT.png");
}
.titulo{
    text-align: center;
    font-size: 50px;
color: rgb(250, 4, 4);
}
.imgD{
    height: 300px;
    width: 300px;
    float: left;
    background-image: url("dahiana.jpg");
}
.imgSi{
height: 300px;
width: 300px;
float: left;
background-image: url("simon.jpg");
}
.imgM1{
height: 300px;
width: 532px;
float: left;
background-image: url(imgM1.PNG);
}
.imgM2{
height: 272px;
width: 428px;
background-image: url(imgM2.jpg);
float: left;
}
.imgM3{
height: 350px;
width: 290px;
background-image: url(imgM3.png);
float: left;
}
.imgM4{
    height: 350px;
    width: 685px;
    background-image: url(imgM4.JPG);
    float: left;
}
    .titulo2{
        text-align: center;
        font-size: 50px;
    color: rgb(250, 4, 4);
}
.imgM5{
height: 270px;
width: 216px;
background-image: url(imgM5.png);
float: left;
background-repeat: no-repeat;
}
.imgM6{
        height: 725px;
        width: 869px;
        background-image: url(imgM6.webp);
        float: left;
        background-repeat: no-repeat;
 }
.imgM7{
height: 300px;
width: 214px;
background-image: url(imgM7.png);
float: left;
background-repeat: no-repeat; 
}
.imgM8{
height: 300px;
width: 670px;
background-image: url(imgM8.jpg);
float: left;
background-repeat: no-repeat;
}