/* Temas del segundo período*/

.texto{
   
    font-size: 30px;
    padding-top: 40px;
    text-align: justify;
    color: rgb(2, 2, 2);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondo.png");
    

}
.imgT{
height: 300px;
width: 300px;
float: left;
background-image: url("imgT.png");
background-repeat: no-repeat;
}
.titulo{
    text-align: center;
    font-size: 50px;
color: rgb(250, 4, 4);
}
.imgD{
    height: 300px;
    width: 300px;
    float: left;
    background-image: url("dahiana.jpg");
}
.imgSi{
height: 300px;
width: 300px;
float: left;
background-image: url("simon.jpg");
}
.imgM1{
height: 300px;
width: 532px;
float: left;
background-image: url(imgM1.PNG);
}
.imgM2{
height: 272px;
width: 428px;
background-image: url(imgM2.jpg);
float: left;
}
.imgM3{
height: 350px;
width: 290px;
background-image: url(imgM3.png);
float: left;
}
.imgM4{
    height: 350px;
    width: 685px;
    background-image: url(imgM4.JPG);
    float: left;
}
    .titulo2{
        text-align: center;
        font-size: 50px;
    color: rgb(250, 4, 4);
}
.imgM5{
height: 270px;
width: 216px;
background-image: url(imgM5.png);
float: left;
background-repeat: no-repeat;
}
.imgM6{
        height: 725px;
        width: 869px;
        background-image: url(imgM6.webp);
        float: left;
        background-repeat: no-repeat;
 }
.imgM7{
height: 183px;
width: 214px;
background-image: url(imgM7.png);
float: left;
background-repeat: no-repeat; 
}
.imgM8{
height: 300px;
width: 670px;
background-image: url(imgM8.jpg);
float: left;
background-repeat: no-repeat;
}
.imgQ{
height: 300px;
width: 300px;
background-image: url(imgQ.png);
background-repeat: no-repeat;
}
.imgB{
height: 212px;
width: 237px;
background-image: url(imgB.png);
float: left;
background-repeat: no-repeat;
}
.imgB2{
height: 388px;
width: 500px;
background-image: url(imgB2.jpg);
float: left;
background-repeat: no-repeat;
}
.imgB3{
height: 618px;
width: 824px;
background-image: url(imgB3.png);
float: left;
background-repeat: repeat;
}
.imgN{
height: 300px;
width: 300px;
background-image: url(nicolas.jpeg);
float: left;
}
.imgS{
height: 929px;
width: 1339px;
background-image: url(imgS.png);
background-repeat: no-repeat;
}
.imgN2{
height: 1024px;
width: 1024px;
background-image: url(nicolas2.jpg);
float: left;
}
.imgD2{
    height: 1024px;
    width: 1024px;
    background-image: url(dahiana2.jpg);
    float: left;
}
.imgSi2{
    height: 1024px;
    width: 1024px;
    background-image: url(simon2.jpg);
    float: left;
}